body
{
    margin: 0;
    padding: 0;
}
.logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%,-50%);
    border-top: 50px solid #ea4355;
    border-right: 50px solid #4285f4;
    border-bottom: 50px solid #34a853;
    border-left: 50px solid #fbb605;
    border-radius: 50%;;
}
.logo:before
{
    position: absolute;
    top: -120px;
    right: -120px;
    content: '';
    transform: rotate(90deg);
    border-top: 100px solid transparent;
    border-right: 100px solid #fff;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
}
.logo:after
{
    position: absolute;
    top: 60px;
    right: -49px;
    width: 100px;
    height: 20px;
    content: '';
    border: 10px solid #4285f4;
    background-color: #4285f4;;
}
